<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax_admin_goodsclass.js"></script>
    <script>
        $.ajaxSetup({headers: {"X-CSRFToken": '{{csrf_token}}'}});
    </script>
    <style type="text/css">
    </style>
    <title>商品类别管理页面</title>
</head>
<body>
商品类别管理页面 (商品分类一共有三级,一二级分类下不能有商品,第三级分类不能有子分类)<br/>

<div id="content">
    <div id="J_mainwrap">

        <div class="cat-main">
        {% for i in gcs %}
            {% if i.pid == 0 %}
                <div class="" id="">
                <div class="title ">
                    <h4><a href="{{ i.cid }}" target="_blank" {% if i.state == 0%}style="text-decoration: line-through"{% endif %}>{{ i.cn }}</a></h4>
                </div>
                <div class="catlist">
                    <ul class="">
                    {% for ii in gcs%}
                    {% if ii.pid == i.cid %}
                        <li class="section ">

                            <h5 class="subtitle"><a href="{{ ii.cid }}" target="_blank"{% if ii.state == 0%}style="text-decoration: line-through"{% endif %}>{{ ii.cn }}</a></h5>

                            <div class="sublist">
                                {% for iii in gcs %}
                                    {% if iii.pid == ii.cid %}
                                        <a href="{{ iii.cid }}" target="_blank"{% if iii.state == 0%}style="text-decoration: line-through"{% endif %}>{{ iii.cn }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
</body>
</html>